/* 
Green:#59b001 
Light Blue: #f0f4f5 
light Green: #5cab0f
 */

 *{
    margin: 0;
    padding: 0;
    --primaryGreen: #59b001;
    --secondaryGreen:#5cab0f;
    --lightBlue: #f0f4f5 ;
    --black: #00000000;
    --white:#fff;
    

}

html{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 8px;

    
    
}

.top-socialbar-wrapper{
    background-color: var(--primaryGreen);
    padding: 6px 0;
}

.topbar-inner{
    display: flex;
    justify-content: space-between;
}

.contact-detail{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.contact-detail li a{
    text-decoration: none;
    color: var(--white);
    padding: 0 6px;
    display: inline-block;
}

.social-icons li:first-child{
    border-right: 2px solid var(--white);
}

.contact-detail li > span{
    font-weight: bold;
    color: var(--white);
}
    

.primary-navbar{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.primary-navbar img{
    width: 100%;
    height: 48px;
}

.primary-navbar ul{
    display: flex;
    align-items: center;
    

}

.primary-navbar ul li{
    list-style: none;
    padding: 0 8px;

}

.primary-navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    
}

.primary-navbar ul li a:hover{
    color: var(--primaryGreen);
    text-decoration: underline;
}

.hero-section{
    position: relative;
}

.hero-section .over-lay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.hero-section figure img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

.hero-section .over-lay .overlay-inner{
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-section .over-lay .overlay-inner h3{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
    word-spacing: 4px;
}

.hero-section .over-lay .overlay-inner h1{
    font-size: 32px;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 8px;
    word-spacing: 5px;
    margin-bottom: 12px;

}

.highlight{
    color: var(--primaryGreen);
    
}

.hero-section .over-lay .overlay-inner p{
    color: var(--white);
    margin-bottom: 18px;
    font-size: 14px;
}

.hero-section .over-lay .overlay-inner a:hover{
    border: none(transparent #fff);
    background-color: var(--primaryGreen);
}

.hero-section .over-lay .overlay-inner a{
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 32px;
    border: 1px solid var(--white);
    margin-right: 28px;
    
   
    
}

/* Utility Classes */
 
.pl-0{
    padding-left: 0!important;
 }
 .pr-0{
    padding-right: 0;
 }
 .pb-0{
    padding-bottom: 0;
 }
 .pt-0{
    padding-top: 0;
 }
 .p{
    padding: 0;
 }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-section .over-lay .overlay-inner h3{
        font-size: 7px;
    }

    .hero-section .over-lay .overlay-inner p{
        display: none;
    }
     .hero-section .over-lay .overlay-inner a{
        padding: 4px 6px;
        width: fit-content !important;
        font-size: 4px;
     } 
     
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    
    
    .sm-hide{
        display: none;
        
        
    }
    
    .mb-hide{
        display: none;
    }
    
    .hero-section .over-lay .overlay-inner h1{
        font-size: 12px;
        word-spacing: 3px;
    }
    .overlay-inner{
        left: 12px !important;
        width: fit-content !important;
    }
        
     
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
            
            .overlay-inner{
                height: max-content;
                width: fit-content !important;
                z-index: 9;
            }
            
    
    }



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
     .lg-hide{
        display: none;
     }
    .ls-hide{
        display: none;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }